.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  visibility: hidden; 

}

.hand {
  overflow: auto;
}

div>span { /* look for a span that is a child of a div */
  visibility: hidden;
}

body {
  background-color: #277714;
}

.covered-card {
  background-image: url('../img/card-back.png');
}