.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {


  visibility: hidden; 
}

.covered-card {
  background-image: url('../img/card-back.png');
  /*background-color: black;*/
}

.hand {
  overflow: auto;
}